/* ===== Initializr Styles ==================================================   
    Red: #9d0a0e;
    Gray: #989898; #616161
   ========================================================================== */
html {    
}

body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #222224;
    background-color: #F3F3F3;
    font-size: 15px;
}
a {
    color: #989898;
}
a:hover {
    color: #9d0a0e;
    text-decoration: none;
}
hr {
    border-top: 1px solid #D0D0D0;
}

/* ===================
    ALL: 
   =================== */
h1.heading-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    color: #9d0a0e;
    text-align: center;
    margin: 40px 0;
}

.owl-carousel {
    border: none;
    border-radius: none;
    box-shadow: none;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: center;
}
.owl-theme .owl-controls .owl-page span{
    background-color: #686868;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
    background-color: #9d0a0e;
}
.owl-controls .owl-page {
    margin: 0 5px;
}

.full-block > .col-sm-12 {
    padding: 0;
}
.block-box {
}
.block-box .block-heading {
    padding: 40px 0px 40px 0px;
}
.block-box .block-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    color: #9d0a0e;
    text-align: center;
    margin: 0px;
}
.block-box .block-desc {
    text-align: center;
    margin-top: 15px;
    color: #6A6A6A;
}
.block-box + hr {
    margin-bottom: 0;
}

.product-thumb {
    background-color: #FFF;   
    border: none;
}

.product-grid {
}
.product-grid .product-item {    
}
.product-grid .product-thumb {
    background-color: #FFF;
    border: none;
    border-bottom: 2px solid #e1e1e1;
}
.product-grid .product-thumb .caption {
    padding: 20px;
    min-height: 160px;
}
.product-grid .product-thumb .image img {
    width: 100%;
}
.product-grid .product-thumb h4 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;    
    margin: 0;    
}
.product-grid .product-thumb h4 > a {
    color: #090909;
}
.product-grid .product-thumb h4 > a:hover {
    color: #9d0a0e;
}
.product-grid .product-thumb .desciption {
    clear: both;
}
.product-grid .separator {
    margin-bottom: 15px;
}
.product-grid .separator i.fa {    
    color: #3bbdfb;
    font-size: 10px;
    width: 4%;
}
.product-grid .separator .line { 
    border-top: 2px dotted #e1e1e1;
    height: 1px;
    width: 95%;
    margin-top: 4px
}

.news-grid {
}
.news-grid .news-item {       
}
.news-grid .news-thumb {
    background-color: #FFF;  
    border: none;   
    margin-bottom: 20px;
}
.news-grid .news-thumb .caption {
    padding: 20px 10px;
    min-height: 160px;
}
.news-grid .news-thumb .image img {
    width: 100%;
}
.news-grid .news-thumb h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;    
    margin: 0;    
}
.news-grid .news-thumb h4 > a {
    color: #b74b4e;
}
.news-grid .news-thumb h4 > a:hover {
    color: #000;
}
.news-grid .news-thumb .desciption {
    clear: both;
}

.breadcrumb {
   border: none; 
   background-color: transparent;
   margin: 25px 0px 5px 0px;
}
.breadcrumb li {
    padding: 0 10px;
}
.breadcrumb li:first-child {
    padding-left: 0;
}
.breadcrumb li:after {
    border-bottom: none;
    top: 5px;
    right: -15px;
    height: 15px;
    width: 15px;
    webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    transform: rotate(-150deg);
}
.breadcrumb li:last-child:after {
    border: none;
}
.breadcrumb li > a {
    color: #888484;
}
.breadcrumb li > a:hover {
    color: #9d0a0e;
}
.breadcrumb li:last-child > a {
    pointer-events: none;
}
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
    background-color: #9D0A0E;
    border-color: transparent;
    cursor: default;
}

.social-share-buttons {
    padding-top: 30px;
}

.content-block {    
}
.content-block .content {
    font-size: 16px !important;
    line-height: 24px !important;
}

.filter-box {    
}
.filter-box select {    
    padding: 4px 5px;
    border: 1px solid #BBBBBB;
    font-size: 14px;
    background-color: #F3F3F3;
}

.sub-heading-title {
    color: #9d0a0e;
    position: relative;
    text-align: center;
    margin: 50px 0px;
    background: transparent url(../image/line.png) repeat-x 0 50%;    
}
.sub-heading-title > span { 
    background: #FFF;
    padding: 0 30px;
    font-size: 24px;
}


/* ====================
    INTERMEDIATE: Menu
   ==================== */
#menu-container {
    border-top: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    background-color: #FFF;
    position: relative;
}
#menu {
    background: white;
    min-height: inherit;
}
#menu #category {
    color: #9D0A0E;
}
#menu .btn.btn-navbar {
    background-image: none;
    background-color: #9d0a0e;
}
#menu .btn.btn-navbar:hover {   
    background-image: none; 
    background-color: #9d0a0e;
}
nav#menu {
    color: #989898;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    text-align: center;
    position: relative;
}
#menu .navbar-nav {
    float: none;
}
#menu .nav > li {
    float: none;
    display: inline-block;
    margin-left: -4px;
}
#menu .nav > li > a {
    color: #616161;
    text-shadow: none;
    padding: 7px 10px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 15px;
    border-top: 2px solid #e1e1e1;
    margin-top: -2px;
    margin-bottom: -2px;
    min-height: 39px;
    text-shadow: 0px 1px 0px #CCC;
    transition: background 0.5s;
}
#menu .nav > li > a:hover,
#menu .nav > li.active > a,
#menu .nav > li.open > a {
    background: #f7f7f7;
    color: #9d0a0e;
    border-top: 2px solid #bab7b7;
    border-bottom: 2px solid #bab7b7;
}

#menu .dropdown-menu li > a:hover {
    background: #f7f7f7;
    color: #9d0a0e;
}
#menu .dropdown-menu {
    padding: 0;
}
#menu .dropdown-inner li {
    border-bottom: 1px solid #D0D0D0;
}
#menu .dropdown-inner li:last-child {
    border-bottom: none;
}
#menu .dropdown-inner li > a {
    padding: 5px 20px;
    color: #333333;
    font-size: 13px;
    text-align: left;
    background-color: #f7f7f7;
}

#menu-container .nav-controls {
    position: absolute;
    right: 0;
    top: 0;
    width: 225px;
}
#menu-container .nav-controls-wrapper {    
}

/* =======================
MAIN UI
=========================*/
header{
    background-color: #FFF;
}
footer {
    padding: 25px 0px 20px 0px;
    background-color: #9d0a0e;
    border-top: none;
    color: #FFF;
}
footer h2 {
    margin: 0px 0px 15px 0px;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}
footer h3 {
    margin: 0px 0px 8px 0px;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
}
footer .company-info {
    font-size: 14px;
}
footer .info > span {
    margin-right: 5px;
}
footer .info-phones .info > span {
    visibility: hidden;
    margin-right: 5px;
}
footer .info-phones .info:first-child > span {
    visibility: visible;
}
footer .social-links {
    overflow: hidden;
    padding-top: 15px;
}
footer .social-links .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    background-color: #323232;
    margin-right: 10px;
    border-radius: 12px 0;
    text-align: center;
    line-height: 40px;
}
footer .social-links .social-icon > i {
    font-size: 18px;
}
footer .social-links .social-icon:hover > i {
    color: #9d0a0e;
}
.footer-links {
    padding: 10px 0px;
}
.footer-links a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #616161;
}
#content {
    min-height: inherit;
}
#logo {
    margin: 15px 0 15px 0;
}
#search {
    margin-bottom: 0;
    margin-top: 4px;
    width: 160px;
    float: left;
}
#search .form-control {
    height: 26px;
    box-shadow: none;
    border-color: #b4b4b4;
}
#search button {
    padding: 5px;
    height: 26px;
    background: #FFF;
    border-left: none;
    box-shadow: none;
    border-color: #b4b4b4;
}
#search button > i {
    color: #9d0a0e;
}
#language {
    padding: 7px 0;
    margin-left: 10px;    
}
#language a {
    font-size: 12px;
    color: #989898;
}
#language a:hover {
    color: #9d0a0e;
}

#home-slides {
    margin: 0;
}
#home-slides .slide-item { 
    position: relative;
}
#home-slides .slide-item .banner-img { 
    display: block;
    /*padding-bottom: 80px;*/
}
#home-slides .slide-item .banner-img > img {
    border-bottom: 2px solid #e1e1e1;
}
#home-slides .slide-item .banner-actions { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;
}
#home-slides .slide-item .banner-description { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 78px;
    line-height: 78px;
    font-size: 16px;
    font-weight: 400;
}
#home-slides .owl-pagination {
    top: -40px;
}
#home-slides .owl-controls {
    height: 1px;
}

#brand-logos-container {
    background-color: #e9e9e9; 
    padding-top: 60px;
    padding-bottom: 60px;
}
#brand-logos {
    margin: 0;
}
#brand-logos .owl-controls .owl-buttons .owl-prev {
    top: 16%;
    color: #9d0a0e;
}
#brand-logos .owl-controls .owl-buttons .owl-next {
    top: 16%;   
    color: #9d0a0e;
}

.news-page {    
}
.news-page-details {
    background-color: #FFF;
    padding: 25px;
}
.news-page .heading-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    color: #9d0a0e;
    text-align: center;
    margin: 50px 0px 5px 0px;
}
.news-page .product-list .product-thumb .caption {
    margin-left: 325px;
}
.news-page .product-list .product-thumb {
    padding: 25px;
    position: relative;
}
.news-page .created_date {
    text-transform: lowercase;
    font-size: 15px;
    color: #616161;
}
.news-page .product-thumb h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    color: #9d0a0e;
    margin: 18px 0px 7px 0px;
}
.news-page .product-thumb h4 a {
    color: #9d0a0e;   
}
.news-page .product-thumb h4 a:hover {
    color: #000;   
}
.news-page .product-thumb .see-more {
    position: absolute;    
    right: 25px;
    bottom: 15px;
}
.news-page .product-thumb .see-more a {
    color: #9d0a0e;    
}
.news-page .product-thumb .see-more a:hover {
    text-decoration: none;
    color: #000;
}
.news-page .product-thumb .see-more i.fa {
    font-weight: 600;
    color: #9d0a0e;
    margin-left: 5px;
    font-size: 20px;
}
.news-page .news-content {    
}
.news-page .news-content .heading-title {
    margin: 20px 0 5px 0;
}
.news-page .news-content .created_date {
    color: #989898;
    margin-bottom: 30px;
    font-size: 16px;
}
.news-page .product-thumb .image img {
    width: 100%;
}
.news-page .related-news {    
}
.news-page .related-news .product-thumb {
    margin-bottom: 0;
}
.news-page .related-news .product-thumb .caption {
    min-height: inherit;
}

.recruitment-page {    
}
.recruitment-page .job-box:first-child {
    margin-top: 50px;
}
.recruitment-page .job-box {
    background-color: #FFF;
    margin-bottom: 35px;
    width: 100%;
}
.recruitment-page .box-img {
    vertical-align: middle;
    padding: 30px;
    width: 35%;
    text-align: center;
}
.recruitment-page .job-box h3 {
    font-size: 20px;
    color: #9d0a0e;
    margin-bottom: 0;
}
.recruitment-page .box-img img {
    moz-box-shadow: -1px 0px 5px 1px #AAA;
    webkit-box-shadow: -1px 0px 5px 1px #AAA;
    box-shadow: -1px 0px 5px 1px #AAA;
    moz-border-radius: 50%;
    webkit-border-radius: 50%;
    border-radius: 50%;
}
.recruitment-page .box-content {
    font-size: 15px;
    line-height: 24px;
    padding: 30px;
    width: 65%;
}
.recruitment-page .job-list {
    margin-bottom: 20px;
}
.recruitment-page .job-list li {
    margin-bottom: 5px;
}
.recruitment-page .job-list a {
    padding: 7px 15px;
    text-transform: uppercase;
    display: block; 
    -webkit-transition: all .3s;
    transition: all .3s; 
}
.recruitment-page .job-list a:hover {
    background-color: #a52e30;
    color: #FFF;
}
.recruitment-page .job-list li.hot a {
    color: #a52e30;
    font-size: 15px;
}
.recruitment-page .job-list li.hot a:hover {
    color: #FFF;
}
.recruitment-page .news-content h1.heading-title {
    text-transform: capitalize;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: bold;
}
.recruitment-page .job-contact-box {
    margin: 35px 0px 20px 0px;
    padding: 25px;
    text-align: center;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.product-page {     
}
.product-page .filter-box {
    padding: 15px 0px;
    margin: 0px 0px 45px 0px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    text-align: center;
}
.product-page .product-grid .product-thumb {
    background-color: transparent;
    border: none;
    margin-bottom: 35px;
}
.product-page .product-grid .product-thumb .caption {
    padding: 0;
    margin-top: 10px;
    min-height: 65px;
}
.product-page .product-grid .caption a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #0e0e0e;    
}
.product-page .product-grid .caption a:hover {
    color: #9d0a0e;       
}

.product-details-page {
    background-color: #FFF;   
    padding: 35px;
}
.product-details-page .heading-title {
    text-transform: uppercase;
    color: #9d0a0e;
    font-size: 22px;
    margin: 0 0 10px 0;
}
.product-details-page .product-info {
    margin-bottom: 40px;
}
.product-details-page .product-info li {
    display: inline-block;
    border-left: 1px solid #DDD;
    padding: 0 10px;
    color: #AAA;
}
.product-details-page .product-info li:first-child {
    border: none;
    padding: 0 10px 0 0;
}

.product-details-page .thumbnails {

}
.product-details-page .thumbnails a.thumbnail {
    border: none;
    outline: none;
    padding: 0;
}
.related-products .product-thumb .caption {
    min-height: inherit;
    padding: 10px 0;    
}
.related-products .product-thumb .image {
    border: 1px solid #CCC;
}
.related-products .product-thumb .caption a {
    color: #0e0e0e;
    text-transform: uppercase;    
    font-size: 14px;
}
    
/* ===============
    ALL: IE Fixes
   =============== */


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1140px) {
    /* ==============
        MOBILE: Menu
       ============== */
    #menu-container .nav-controls {
        position: relative;
        margin: 0 auto;
        width: 460px;
    }
    #search {
        width: 400px;
    }
}

@media only screen and (max-width: 1024px) {
    /* ==============
        MOBILE: Menu
       ============== */
    #menu .nav > li > a {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    /* ==============
        MOBILE: Menu
       ============== */
    #menu-container {
        padding-bottom: 10px;
    }
    #menu .nav > li {
        display: block;
    }
    #menu .nav > li {
        border-bottom: 1px solid #DDD;
    }
    #menu .nav > li > a {
        border: none;
    }
    #menu .nav > li > a:hover {
        border: none;
    }

    .recruitment-page .job-box {
        width: 100%;
        display: block;
    }
    .recruitment-page .box-img {
        padding: 20px;
        width: 100%;
        text-align: center;
        display: block;
    }
    .recruitment-page .box-content {
        padding: 20px;
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    /* ==============
        MOBILE: Menu
       ============== */


    /* ==============
        MOBILE: Main
       ============== */
    
}

@media only screen and (min-width: 768px) {

    .product-list .product-thumb .image {
        padding: 0;
        margin: 0;
    }

    /* ============
        WIDE: Menu
       ============ */
    
}

@media only screen and (min-width: 1140px) {

    /* ============
        WIDE: Menu
       ============ */


    /* ===============
        Maximal Width
    =============== */
    .container {
        width: 1170px;
    }
    .container.custom-container {
        width: 960px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

ul.none-style {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.gray-bg {
    background-color: #DDD;
}
.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #000;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
      /* IE 5-7 */
    filter: alpha(opacity=15);
    /* Netscape */
    -moz-opacity: 0.15;
    /* Safari 1.x */
    -khtml-opacity: 0.15;
    /* Good browsers */
    opacity: 0.15;
    z-index: -1;
}
.vertical-text {
    display: inline-block;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.99, M12=-0.08, M21=0.08, M22=0.99, SizingMethod="auto expand");
}
.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.uppercase {
    text-transform: uppercase;
}
.fl{
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}
.responsive-img  {
    width: 100%;
    height: auto;    
}
.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}

.nowrap {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-resize-all {
    resize: none;
}
.no-resize-hon {
    resize: vertical;
}
.no-resize-ver {
    resize: horizontal;
}

.link-style-none {
    text-decoration: none;
}
.list-unstyled {
    margin: 0;
    padding: 0;
}

.btn.btn-main,
.btn-primary {
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 30px;
    padding: 5px 40px;
    border: none;
    font-size: 14px;
    background: #9d0a0e;
    color: #FFF;
}
.btn-primary:hover {
    background: #000;
}
.btn.btn-default {
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 30px;
    padding: 5px 40px;
    border: none;
    font-size: 14px;
    background-color: #FFF;
    color: #676767;
}
.btn.btn-smaller {
    padding: 2px 30px;
    font-size: 13px;
}
.btn.btn-main:hover {
    color: #000;
}
.btn.btn-default:hover {
    color: #000;
}

.btn-link {
    cursor: pointer;
    color: #989898;    
}
.btn-link:hover {
    color: #9d0a0e;
    text-decoration: none;
}
.btn-link > i.fa {
    color: #9d0a0e;
}
.btn-link-icon-r {
    margin-right: 5px;
}
.btn-link-icon-l {
    margin-left: 5px;
}

.fa.fa-3x{
    font-size: 3em;
}

.p-30 {
    padding: 30px 10px;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-left-10 {
    padding-left: 10px;
}

.line-20 {
    height:20px;
    width: 100%;
    display: block;
    clear: both;    
}
.line-30 {
    height:30px;
    width: 100%;
    display: block;
    clear: both;    
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}